@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
        background-color: #ececec ;
        width: 100%;
}

header {
        display: flex;
        justify-content: center;
        border-bottom-style: solid;
        border-bottom-color: #a8a7a7;
        margin-left: 440px;
        margin-right: 440px;
}

#logo {
        justify-content: center;
        margin-bottom: 20px;
}

.filters {
        display: grid; 
        justify-content: center;
        margin-top: 20px;
}

.step {
        display: inline-flex;
}

.step1 {
        grid-column-start: 1;
        grid-column-end: 2;
        width: 420px;
        margin-right: 10px;
}

.step2 {
        grid-column-start: 3;
        grid-column-end: 4;
        margin-left: 10px;
        width: 420px;
}

.actions {
        grid-row-start: 3;
        grid-row-end: 4;
}

ul {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        padding-left: 0px;
}

input[type="radio"] {
        visibility:hidden;
}

input[type="radio"] + label {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        height: 8px;
        line-height: 8px;
        color: gray;
        font-family: Quicksand;
        width: 18px;
        font-size: 20px;
        font-weight: 100;
        padding: 14px;
        background-color: #D5D5D5;
        border: solid #D5D5D5 1px;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        text-align: center;      
}

input[type="radio"]:checked + label {
        background: #FF8C00;
        border: solid #FF8C00 1px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        text-decoration: none;
        color: white;
}

input[type="checkbox"]{
        visibility:hidden;
}

input[type="checkbox"] + label {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        height: 8px;
        line-height: 8px;
        color: gray;
        font-family: Quicksand;
        width: 80px;
        font-size: 20px;
        font-weight: 100;
        padding: 14px;
        background-color: #D5D5D5;
        border: solid #D5D5D5 1px;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        text-align: center;
}

input[type="checkbox"]:checked + label {
        background: #FF8C00;
        border: solid #FF8C00 1px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        text-decoration: none;
        color: white;
}

input[type="submit"] {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        height: 40px;
        line-height: 8px;
        color: gray;
        font-family: Quicksand;
        width: 200px;
        font-size: 20px;
        font-weight: 100;
        padding: 14px;
        background-color: #D5D5D5;
        border: solid #D5D5D5 1px;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        text-align: center;
}

input[type="submit"]:focus {
        background: #FF8C00;
        border: solid #FF8C00 1px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        text-decoration: none;
        color: white; 
}

input[type="button"] {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        height: 40px;
        line-height: 8px;
        color: gray;
        font-family: Quicksand;
        width: 200px;
        font-size: 20px;
        font-weight: 100;
        padding: 14px;
        background-color: #D5D5D5;
        border: solid #D5D5D5 1px;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        text-align: center;
}

input[type="button"]:focus {
        background: #FF8C00;
        border: solid #FF8C00 1px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        text-decoration: none;
        color: white; 
}

.user-list {
        display: grid;
        width: 1000px;
        margin-left: 470px;
        margin-right: 400px;
        grid-template-columns: 500px 500px;  
}

.user-list-item {
        background-color: white;
        width: 400px;
        height: 450px;
        margin: 20px;
        margin-top: 150px;
        color: darkgray;
        font-family: Quicksand;
        font-size: large;
        padding: 20px;
        border-radius: 10px;
}
 
.user-list-item img {
        border-radius: 50%;
        border: 5px rgb(130, 0, 252) solid;
        margin-bottom: 1rem;
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -100px;
}
